p.name {
  font-size: 24px;
  font-weight: bold;
}
p.rating {
  font-size: 18px;
}

.container {
  margin: 50px;
}

.games {
  background-color: lightgrey;
  text-align: center;
  width: 200px;
  padding: 20px;
  border: solid 5px;
  margin-bottom: 30px;
}

.error {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  width: 400px;
  background-color: pink;
  border: solid 5px red;
}

.loader {
  margin: 50px;
  border: 10px solid lightgreen;
  border-top: 10px solid green;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
